body
  background-image: var(--bg-overlay), url("./assets/bg/home.png")
  background-size: 200px
  background-repeat: repeat
  background-attachment: fixed

  animation: scroll 2s linear infinite

@keyframes scroll
  from
    background-position: 200px 200px