ul.badge-list
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(88px, 1fr))
  grid-template-rows: repeat(auto-fit, minmax(31px, .5fr))

  margin: 0
  padding-inline-start: 0   // ul content gets padded, but we don't want it here

  & > a
    transition: transform var(--transition-bezier)
    cursor: zoom-in
    border-radius: 0

    &:hover
      transform: scale(1.75)