@use "../../themes/ametrine/sass/abstracts/mixins" as *;

dialog {
  // display: inline-block;
  transition:
    all var(--transition),
    transform var(--transition-bezier);
  
  box-shadow: var(--edge-highlight);
  border-radius: var(--rounded-corner);
  background-color: var(--glass-bg-2);
  padding: 0.5rem 1rem;  
  margin: auto;

  color: var(--fg-muted-1);

  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-small);
  line-height: 1.5rem;
  text-decoration: none;

  -webkit-backdrop-filter: var(--blur);
  backdrop-filter: var(--blur);
  filter: none !important;


  &[open] { 
    // transform-origin: top;
    transform-origin: inherit;
    animation: dialog-load var(--transition-longer);
  }
  
    @keyframes dialog-load {
    from,
    52.5% {
      transform: var(--active);
      opacity: 0;
      filter: blur(0.75rem);
    }
  }
}