//  Tries to get rid of rounded banners while keeping it floating, like that son of a hacky ass hack I've been using
#banner
  margin-block-end: -2rem
  padding-block: 3.125rem
 
  img
    border-radius: 0 !important
